:root {
    --body-background-color: #fff;
    --slate-color: #434455;
    --navy-blue-color: #2e2f42;
    --ocean-color: #404bbf;
    --iris-color: #4d5ae5;
    --cloud-color: #f4f4Fd;
    --cornflower-color: #e7e9fc
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background-color: var(--body-background-color);
    color: var(--navy-blue-color);
    letter-spacing: 0.02em;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.list {
    list-style: none;
}

.link {
    line-height: 1.5;
    text-decoration: none;
}

.link:is(:hover, :focus) {
    color: var(--ocean-color);
}

/*--------- HEADER ---------*/
.navig-logo {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--iris-color)
}

.logo-span {
    color: var(--navy-blue-color, #4D5AE5);
}

.navig-list-link {
    font-weight: 500;
    color: var(--navy-blue-color);
}

.navig-link-activ {
    color: var(--ocean-color);
}

.header-contact {
    font-style: normal;
    line-height: 1.5;
    text-decoration: none;
}

/*------------- FILTERS ----------*/
.btn {
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.filters-btn {
    color: var(--iris-color, #4d5ae5);
    background-color: var(--cloud-color);
    border: 1px solid var(--cornflower-color);
}

.filters-btn:is(:hover, :focus) {
    color: var(--body-background-color);
    background-color: var(--ocean-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/*---------- IMAGES-ROW ----------*/
.card-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.card-descriptor {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate-color);
}

.part-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.part-title-hidden {
    opacity: 0;
}

.studio-header-box {
    background-color: var(--navy-blue-color);
}

.studio-header-box-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: var(--body-background-color);
}

.studio-btn {
    color: var(--body-background-color);
    background-color: var(--iris-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.studio-btn:is(:hover, :focus) {
    background-color: var(--ocean-color);
}

/*------------- FOOTER ----------*/
.footer-box {
    background-color: var(--navy-blue-color);
}

.logo-span-footer {
    color: var(--cloud-color)
}

.footer-text {
    color: var(--cornflower-color);
}